{%extends 'base.html'%}

{% block content%}
{%load custom_filter %}
{% load cart%}
<div class="container-fluid mt-3" style="background-color: grey">
    <div class="row">


        <div class="col-lg-3 mx-auto">
            <div class="list-group">

                <a href="/" class="list-group-item list-group-item-action">All Products</a>

                {%for category in categories %}
                <a href="/?category={{category.id}}"
                   class="list-group-item list-group-item-action">{{category.name}}</a>
                {%endfor %}
            </div>

        </div>
        <div class="col-lg-9 mx-auto" id='products'>
            <div class="row mx-auto">
                {% for product in products%}
                <div class="col-lg-4">
                    <div class="card mx-auto mb-3" id='{{product.id}}' style="width: 18rem;">
                        <img src="..." class="card-img-top" src="{{product.image.url}}" alt="...">
                        <div class="card-body">
                            <p class="card-title" style="color: orange">{{product.name}}</p>
                            <p class="card-text"><b> {{product.price|currency}}</b></p>
                            <p class="card-text"> {{product.description}}</p>

                        </div>
                        <div class="card-footer row p-0 ">
                            {% if product|is_in_cart:request.session.cart %}
                            <div class="row no-gutters">
                                <form action="/#{{product.id}}" class="col-2 " method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name='product' value='{{product.id}}'>
                                    <input hidden type="text" name='remove' value='True'>
                                    <input style=" background-color: green; color: white" type="submit" value=" - "
                                           class="btn btn-block btn-light border-right">
                                </form>
                                <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart
                                </div>
                                <form action="/#{{product.id}}" class="col-2 " method="post">
                                    {% csrf_token %}
                                    <input hidden type="text" name='product' value='{{product.id}}'>
                                    <input style=" background-color: green; color: white" type="submit" value=" + "
                                           class="btn btn-block btn-light border-left">
                                </form>
                            </div>
                            {% else %}
                            <form action="/#{{product.id}}" method="POST">
                                {% csrf_token%}
                                <input hidden type="text" name='product' value='{{product.id}}'>
                                <input href="#" class="btn btn-light border btn-sm form-control" type="submit"
                                       style="background-color: green; color: white" value="Add to Cart">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock%}


