{%extends 'base.html'%}
{%block css%}
{%load cart %}
{%load custom_filter %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{%endblock%}
{%block content%}
<div class="card " style="padding: 10%; background-color: lightgrey">
    <div class='container1' style=" background-color: white">
        <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4">My Orders</p>
            <div class="table-responsive">

                <table class="table table-inverse table-inverse table-responsive">
                    <thead class="thead-inverse">
                    <tr>
                        <th>S.No</th>
                        <th> Image</th>
                        <th>Product</th>
                        <th> Date</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th> Status</th>
                        <th>Comment Section</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td><img style="height: 10%" class="rounded-circle" src="{{order.product.image.url}}" alt="...">
                        </td>
                        <td>{{order.product.name}}</td>
                        <td> {{order.date}}</td>
                        <td> {{order.price|currency}}</td>
                        <td> {{order.quantity}}</td>
                        <td> {{order.quantity|multiply:order.price|currency}}</td>


                        {% if order.status %}
                        <td><small class="badge bg-success"> Completed </small></td>
                        {% else %}
                        <td><small class="badge bg-warning text-dark"> Pending </small></td>

                        {% endif %}

                        <td>
                            <a class="btn btn-secondary btn-sm float-end" style="background-color: green; color:white"
                               href="/comments">Comments</a>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>


{%endblock%}
